<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <title> Contact Us At Tweeter. We Can't Wait To Hear From You. </title>

    <!-- Bootstrap CSS -->
    <link style= 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>

 <style>

.jumbotron{
	background-color: #03C9CA;
	text-align: center;
	color: white;
	margin: 0px;
	border-radius: 0px;
}

.container .btn-primary{
	background-color: #098283;
}

.container .btn-secondary{
	color: #03C9CA;
}

.container img{
	margin-top: 20px;
	margin-bottom: -20px;
}

.btn-outline-success{
	color: #098283;
	border: 1px solid #098283;
}

.btn-outline-success:hover{
	background-color:#098283;
	color:white;
	border: none;
}


 </style>

  <body>

<!--   	Jumbotron    -->


	<div class="jumbotron">
      <div class="container">
        <h1>Contact Us!</h1>
        <p>Help us improve your experience, or just virtually wave hello. We love you and want to talk to you!</p>
        <div class="buttons">
	        <a class="btn btn-primary btn-lg" href="#" role="button">Contact Us &raquo;</a>
   		</div>
        <img src="https://cdn.filestackcontent.com/9QcpkiJoQr2ctkFajTPV" alt="image" width="40">


      </div>
    </div>

<!--   	Nav Bar     -->


<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Tweeter</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="contact">Contact</a>
      </li>
   
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></p>
    </form>
  </div>
</nav>



    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>

